# neovim config packs
nvim/.config/nvim/lua/* 

# neovim misc
nvim/.config/nvim/.netrwhist

# tmux plugins
tmux/.tmux/plugins/*

# private files
.gitconfig.private

# .gitkeep to track directory structure
!**/.gitkeep
